/* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}


/* Change color of dropdown links on hover */
.dropdown-menu a:hover {background-color: lightgrey}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-menu {
    display: block;
}



.dropdown-menu.show 
{
	display:block;
}

nav.fixednav {
	position:fixed;
	top:0;
	z-index:2;
	left:0;
	right:0;
}


li.activeLink{
	border:2px solid black;
}

a.breadcrumb-link{
	color:black;
}

a.breadcrumb-link:hover {
	font-weight:bold;
}

ol.bfont {
	font-size:22px;
	font-family:Verdana;
	font-style:oblique;
}

ul.nav-ul a{
	font-family:Verdana;
	font-size:22px;
}